<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="admin-layout/baselayout :: page(title='Login')">

<body>

	<main th:fragment="maincontent">
		<div class="content-wrapper d-flex align-items-center">


			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Error 500</h1>
						</div>

					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>

	</main>
	<th:block th:fragment="thisscript">

	</th:block>

</body>

</html>