<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="admin-layout/baselayout :: page(title='Demo Home')">
<body>
	<main th:fragment="maincontent">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Post</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Post</a></li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Create Post</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form method="POST" th:action="@{/admin/posts/create}"
									th:object="${post}">
									<div class="card-body">
										<div class="form-group">
											<label for="title">Title</label> <input th:field="*{title}"
												type="text" class="form-control" id="title"
												placeholder="Enter title" />
										</div>
										<div class="form-group">
											<label for="excerpt">Excerpt</label>
											<textarea th:field="*{excerpt}" class="form-control"
												id="excerpt" placeholder="Enter excerpt"></textarea>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">Content</label>
											<textarea th:field="*{content}" type="text"
												class="form-control" id="post-editor"
												placeholder="Enter content"></textarea>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col">
													<label for="excerpt">Thumbnail</label>
													<div class="input-group mb-3">
														<input th:field="*{thumbnail}" type="text"
															class="form-control" id="thumbnail-url" readonly /> <label
															class="input-group-text" id="thumbnail-browser">Upload</label>
														<button id="thumbnail-reset" class="btn btn-danger">Reset</button>
													</div>
												</div>
												<div class="col">
													<label for="excerpt">Order</label>
													<div class="input-group mb-3">
														<input th:field="*{order}" type="number"
															class="form-control" id="order"/>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6 form-group">
												<label>Select Type</label> <select id="typeSelect"
													class="form-control" th:field="*{postType}">
													<option th:each="item : ${postTypes}"
														th:value="${item.value}" th:text="${item.value}"></option>
												</select>
											</div>
											<div class="col-6">
												<div id="fragSelect">
													<div th:fragment="frag-field">
														<div class="form-group"
															th:if="${post.postType} == 'COURSE'">
															<label>Select Course</label> <select class="form-control"
																th:field="${post.postableId}">
																<option th:value="${null}">None</option>
																<option th:each="item : ${courses}"
																	th:value="${item.id}" th:text="${item.courseName}"></option>
															</select> <label>Select Category</label> <select
																class="form-control" th:field="${post.categoryId}">
																<option th:value="${null}">None</option>
																<option th:each="item : ${categories}"
																	th:value="${item.id}" th:text="${item.name}"></option>
															</select>
														</div>
														<div class="form-group"
															th:if="${post.postType} == 'LESSON'">
															<label>Select Chapter</label> <select
																class="form-control" th:field="${post.categoryId}">
																<option th:value="${null}">None</option>
																<option th:each="item : ${chapters}"
																	th:value="${item.id}" th:text="${item.name}"></option>
															</select>
														</div>
														<div class="form-group" th:if="${post.postType} == 'POST'">
															<label>Select Category</label> <select
																class="form-control" th:field="${post.categoryId}">
																<option th:value="${null}">None</option>
																<option th:each="item : ${categories}"
																	th:value="${item.id}" th:text="${item.name}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">
											Publish now</button>
										<button type="submit" class="btn btn-primary">Save
											draft</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</main>

	<th:block th:fragment="thisscript">
		<script type="text/javascript"
			th:src="@{/resources/public/plugin/ckeditor/ckeditor.js}"></script>
		<script type="text/javascript"
			th:src="@{/resources/public/plugin/ckfinder/ckfinder.js}"></script>
		<script>
			var ckeditor = CKEDITOR.replace("post-editor");
			CKFinder.setupCKEditor(ckeditor,
					"[[@{/resources/public/plugin/ckfinder/}]]");
		</script>
		<script>
			$("#thumbnail-browser").click(function(e) {
				console.log("VOO")
				var finder = new CKFinder();
				finder.basePath = "[[@{/resources/public/plugin/ckfinder/}]]";
				finder.selectActionFunction = function(fileUrl, data) {
					console.log(fileUrl);
					$("#thumbnail-url").val(fileUrl)
				};
				finder.popup(800, 600);
			})

			$("#thumbnail-reset").click(function(e) {
				e.preventDefault();
				$("#thumbnail-url").val(null);
			})
			$("#typeSelect").change(function(e) {
				let url = '[[@{/}]]' + 'admin/posts/create/change-type';
				let formData = $('form').serializeArray();

				$("#fragSelect").load(url, formData);
			})
		</script>
	</th:block>

	<!-- script -->
</body>
</html>
