<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="admin-layout/baselayout :: page(title='Demo Home')">
<body>
	<main th:fragment="maincontent">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Post</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Post</a></li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Post List</h3>
								</div>
								<!-- /.card-header -->
								<!-- content start -->
								<div class="card-body">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>No</th>
												<th>Title</th>
												<th>Status</th>
												<th>Type</th>
												<th>Ref ID</th>
												<th>Last modified</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="post, state : ${posts.content}">
												<td th:text="${state.count}"></td>
												<td th:text="${post.title}"></td>
												<td><span th:if="${post.status} == 1"
													class="badge bg-success">Published</span> <span
													th:if="${post.status} == 2"
													class="badge bg-warning text-dark">Draft</span></td>
												<td th:text="${post.postType}"></td>
												<td th:text="${post.postableId}"></td>
												<td style="max-width: 5rem" th:text="${post.updatedAt}"></td>
												<td class="text-center" style="max-width: 5rem"><a
													th:href="@{/admin/posts/{id}(id=${post.id})}"
													class="btn btn-primary">Edit</a> <a
													th:href="@{/admin/posts/delete/{id}(id=${post.id})}"
													class="btn btn-primary">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="card-footer">
									<div class="row">
										<div class="col">
											<div class="btn-group dropup">
												<button type="button"
													class="btn btn-secondary dropdown-toggle"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false" th:text="${pagination.size}"></button>
												<div class="dropdown-menu">
													<a class="dropdown-item" th:href="@{/admin/posts(size=5)}">5</a>
													<a class="dropdown-item" th:href="@{/admin/posts(size=20)}">20</a>
													<a class="dropdown-item" th:href="@{/admin/posts(size=50)}">50</a>
												</div>
											</div>
										</div>
										<nav class="col">
											<ul class="pagination justify-content-end">
												<li class="page-item"
													th:classappend="${posts.first} ? disabled : null"><a
													class="page-link" href="#" tabindex="-1">Previous</a></li>
												<li class="page-item" th:if="${posts.first} == false"><a
													class="page-link"
													th:href="@{/admin/posts(page=${posts.number - 1}, size=${pagination.size})}"
													th:text="${posts.number + 1 - 1}"></a></li>
												<li class="page-item active"><a class="page-link"
													th:href="@{/admin/posts(page=${posts.number}, size=${pagination.size})}"
													th:text="${posts.number + 1}"></a></li>
												<li class="page-item" th:if="${posts.last} == false"><a
													class="page-link"
													th:href="@{/admin/posts(page=${posts.number + 1}, size=${pagination.size})}"
													th:text="${posts.number + 1 + 1}"></a></li>
												<li class="page-item"
													th:classappend="${posts.last} ? disabled : null"><a
													class="page-link" href="#">Next</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</main>

	<th:block th:fragment="thisscript">
	</th:block>

	<!-- script -->
</body>
</html>
