<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="page(title)">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content="ie=edge" http-equiv="x-ua-compatible" />
<title th:text="${title} ? ${title} : 'default title'">Title</title>

<!-- Begin Base Layout Css-->
<link th:href="@{/resources/public/css/baselayout.css}" rel="stylesheet" />
<!-- End Base Layout Css-->

<!-- Begin Header Css-->
<link th:href="@{/resources/public/css/header.css}" rel="stylesheet" />
<!-- End Header Css-->

<!-- Begin Fontawesome Css-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<!-- End Fontawesome Css-->

<!-- Begin Boostrap JS-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet" />

<link th:replace="this :: thishead" />
</head>

<body style="overflow-x: hidden; overflow-y: scroll">
	<!-- Begin Header-->
	<header th:replace="user-layout/header :: header">Header</header>
	<!-- Begin Header-->

	<!-- Begin Main Container-->
	<div class="container-fluid">
		<div class="row">
			<!-- Begin Main Content-->
			<main th:replace="this :: maincontent">Conents</main>
			<!-- Begin Main Content-->

		</div>
	</div>

	<!-- Begin Footer-->
	<footer th:replace="user-layout/footer :: footer">Footer</footer>
	<!-- End Footer-->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- End Boostrap JS-->

	<!-- Begin Jquery JS-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- End Jquery JS-->

	<!-- Begin Footer JS-->
	<script type="text/javascript"
		th:src="@{/resources/public/js/footer.js}"></script>
	<!-- Begin Footer JS-->

	<th:block th:replace="this :: thisscript"></th:block>
</body>
</html>
