<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<footer th:fragment="footer">
		<div class="widget">
			<div class="container">
				<div class="row">

					<div class="one_fourth col-lg-3 ">
						<div class="widget-contact">
							<div class="widget-head">
								<h3 class="widget-title">
									<span style="font-weight: normal"> Liên hệ </span>
								</h3>
							</div>

							<div class="widget-content">
								<ul>
									<li><a href="#" title="giới thiệu">Giới thiệu</a></li>
									<li><a href="#" title="Chính sách bảo mật">Chính sách</a>
									</li>
									<li><a href="#" title="Điều khoản sử dụng">Điều khoản</a>
									</li>
									<li><a href="#" title="liên hệ">Liên hệ</a></li>
									<li><a href="#" title="Guest Post">Guest Post</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="one_fourth col-lg-3">
						<div class="widget-coupon">
							<div class="widget-head">
								<h3 class="widget-title">
									<span style="font-weight: normal">Mã giảm giá</span>
								</h3>
							</div>
							<div class="widget-content">
								<ul>
									<li><a href="#" title="Mã giảm giá TinoHost">TinoHost</a>
									</li>
									<li><a href="#" title="Mã giảm giá Azdigi">Azdigi</a></li>
									<li><a href="#" title="mã giảm giá Vultr">Vultr</a></li>
									<li><a href="#" title="mã giảm giá hawkhost">Hawkhost</a>
									</li>
									<li><a href="#" title="mã giảm giá stablehost">Stablehost</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="one_fourth col-lg-3">
						<div class="widget-course">
							<div class="widget-head">
								<h3 class="widget-title">
									<span style="font-weight: normal">Khóa học</span>
								</h3>
							</div>
							<div class="widget-content">
								<ul>
									<li><a href="#" target="_blank"
										title="khoa hoc javascript tu dau 8 html"><span
											style="color: pink">Javascript</span></a></li>
									<li><a href="#" target="_blank"
										title="combo khoa hoc lap trinh frontend 67 html"> <span
											style="color: pink">Front-end</span>
									</a></li>
									<li><a href="#" target="_blank"
										title="nodejs ket hop mongodb mongoose va postgresql 13 html">
											<span style="color: pink">NodeJS</span>
									</a></li>
									<li><a href="#" target="_blank"
										title="react js va redux tao ung dung fullstack voi node js   react js 14 html">
											<span style="color: pink">React JS</span>
									</a></li>
									<li><a href="#" target="_blank"
										title="combo khoa hoc tung buoc tro thanh fullstack developer 68 html"><span
											style="color: pink">Fullstack</span></a></li>
								</ul>
							</div>
						</div>


					</div>

					<div class="one_fourth last col-lg-3">

						<div class=" widget-introdution">
							<div class="widget-head">
								<h3 class="widget-title">
									<span style="font-weight: normal">Giới thiệu</span>
								</h3>
							</div>
							<div class="widget-content">
								<p>
									Admin <strong style="color: pink">Cường</strong>, quản lý chính
									của website.
								</p>

								<ul>
									<li style="font-size: 15px">Email: thehalfheart@gmail.com</li>
									<li style="font-size: 15px">Phone/Zalo: 0979306603</li>
									<li style="font-size: 15px">Skype: thehalfheart</li>
								</ul>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="copyrights-area ">

			<p class="copyrights-text text-center">
				<a class="follow"
					href="https://phongtro123.com/tinh-thanh/ho-chi-minh"
					title="Cho thuê phòng trọ" target="_blank">Cho thuê phòng trọ </a>
				| <a class="follow"
					href="https://bds123.vn/cho-thue-nha-ho-chi-minh.html"
					title="cho thuê nhà" target="_blank">cho thuê nhà</a> | <a
					class="follow"
					href="https://atrungroi.com/xsmn-ket-qua-xo-so-mien-nam.html"
					title="XSMN" target="_blank">XSMN</a> | Khu đô thị <a
					class="follow" href="https://aquacityvn.vn" title="Aqua City"
					target="_blank">Aqua City</a> Novaland <br /> <br /> <span>
					@2020 - Freetuts.net. All Right Reserved </span> <br /> Theme <strong>GoodNews</strong>,
				nền tảng <strong>Codeigniter</strong>, VPS mua tại <a
					href="https://freetuts.net/recommended/tinohost" target="_blank"
					rel="noopener noreferrer nofollow external" title="tinohost">Tinohost</a>
				<br /> <a
					href="//www.dmca.com/Protection/Status.aspx?ID=4495f67a-93e3-4127-a6fe-eb89933037aa&amp;refurl=https://freetuts.net/"
					title="DMCA.com Protection Status" class="dmca-badge"
					target="_blank"> <img style="margin-top: 10px"
					src="https://freetuts.net/public/dmca-protected.png"
					alt="DMCA.com Protection Status" />
				</a>
			</p>

		</div>

		<div class="tool" id="tool">



			<div class="tcontent">

				<a class="menu-click" id="news" title=" "> <img
					th:src="@{/resources/public/logo/notice.png}" alt="notice png" />
					<span>LIST</span>
				</a> <a id="home" th:href="@{'/'}" class="menu-click" title="no title">
					<img th:src="@{/resources/public/logo/home.png}" alt="home png" />
					<span>HOME</span>
				</a> <a class="menu-click" id="share" target="_blank" title=" "> <img
					th:src="@{/resources/public/logo/hot.gif}" alt="hot gif" /> <span>BÁO
						<br />LỖI
				</span>
				</a> <a href="#" class="menu-click" id="totop" title=" "> <img
					th:src="@{/resources/public/logo/top.png}" alt="top png" /> <span>TOP</span>
				</a>




				<div class="function">

					<div class="func-item" id="news-data">
						<p
							style="padding: 10px 10px 0px 10px; font-weight: bold; font-size: 13px;">BÀI
							VIẾT</p>

					</div>

					<div class="func-item" id="share-data">
						<div
							style="padding: 15px 20px 0px 20px; overflow-y: scroll; max-height: 50vh;">

							<form id="error-contact" th:action="@{/report}"
								method="post" class="wpcf7-form">


								<p>
									Nếu bạn phát hiện lỗi sai link, nội dung sai, hay một lỗi bất
									kì nào đó <strong>trên trang này</strong> thì hãy cho mình biết
									nhé. Cám ơn bạn!
								</p>
								<p id="error_remove">
									<textarea id="error_question"
										placeholder="Nhập nội dung lỗi tại đây" name="content"></textarea>
									<input style="margin-left: 20px" class="btn btn-secondary"
										type="submit" value="Gửi báo lỗi" id="send_message_error">

								</p>


								<div id="error_success" class="base-box mom_box_sc"
									style="margin-bottom: 20px; background-color: #d7edf5; border-color: #bddde9; display: none; padding: 20px; font-size: 20px">
									<span style="color: #1c6f8e;">Gửi báo lỗi thành công!</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>


	</footer>


</body>

</html>